@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;

}

.container{
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}


header{
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul{
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(45, 53, 91, 1);
}

header a{
  color: rgba(45, 53, 91, 1);
}

header select{
  border: none;
}

.hero{
width: 100%;
height: 616px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgba(255, 227, 229, 1);
}

.hero__text{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px  130px;
}

.hero__text h2{
  color: rgba(111, 129, 141, 1);
 font-family: "Just Another Hand", cursive;
}

.hero__text h1{
  width: 448px;
  height: 86px;
color: rgba(39, 45, 65, 1);
font-size: 46px;
font-weight: 800;

}

.hero__text h3{
  color: rgba(111, 129, 141, 1);
width: 478px;
height: 48;
font-size: 18px;
font-weight: 400;
}

.hero__text button{
  padding: 16px 50px;
  border-radius: 30px;
background-color: rgba(227, 18, 68, 1);
color: white;
border: none;
}

.hero__img{
  display: flex;
position: relative;
}

.hero button{
  cursor: pointer;
}

.hero button:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.hero__img-back{
  position: absolute;
right: 300px;
top: -260px;
border-radius: 20px;
}

.hero__img-up{
  position: absolute;
  z-index: 1;
    right: 200px;
    border-radius: 30px;
    top: -220px;
}

.companies{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 60px;
  margin-bottom: 140px;
}

.hero2{
width: 100%;
height: 438px;
text-align: center;
}

.hero2__cards{
  display: flex ;
}

.hero2__cards img{
  width: 300px;
    border-radius: 50%;
}

.hero2__cards{
  justify-content: center;
  margin-top: 70px;
gap: 120px;
}

.cards--card h3{
font-size: 24px;
font-weight: 600;
color: rgba(0, 0, 0, 1);
}

.cards--card p{
  color: rgba(152, 159, 188, 1);
font-size: 22px;
font-weight: 400;
width: 326px;
}

.hero2__text h3{
  color: rgba(248, 186, 18, 1);
   font-family: "Just Another Hand", cursive;
font-size: 28px;
font-weight: 400;
}

.hero2__text h1{
  color: rgba(39, 45, 65, 1);
  font-size: 40px;
  font-weight: 700;
}

.hero2__text p{
  color: rgba(152, 159, 188, 1);
  font-size: 22px;
  font-weight: 400;
}


.hero3{
  margin-top: 300px;
}

.hero3__text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: 60px;
}

.hero3__text h1{
  width: 450px;
  font-size: 32px;
  color: rgba(39, 45, 65, 1);
  font-weight: 700;
}

.hero3__text p{
  width: 637px;
  height: 140px;
  color: rgba(101, 109, 137, 1);
  font-size: 24px;

font-weight: 400;}


.hero4{
  margin-top: 150px;
}

.hero__vd{
  display: flex;
  justify-content: center;

}

.hero__vd video{
  width: 1123px;
  height: 641px;
border-radius: 16px;
}

.guy{
  width: 188px;
  height: 197px;
  border-radius: 100px;
  
}

.hero4__top{
  display: flex;
  justify-content: center;
  
}

.top__img{
  display: flex;
  gap: 50px;
}

.top__img h3{
  font-size: 32px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  width: 781px;
  height: 138px;
}

.text__bottom{
  display: flex;
  align-items: center ;
gap: 100px;
margin-top: 40px;
}

.text__bottom small{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.hero4__bottom img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.hero4__bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:  40px;
  margin-top: 50px;
}

.hero5{
  justify-content: center;
  text-align: center;  
  margin-top: 130px;
}

.hero5__text h3{
   font-family: "Just Another Hand", cursive;
font-size: 18px;
font-weight: 400;
color: rgba(248, 186, 18, 1);

  }

  .hero5__text h1{
    font-size: 32px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);

  }
.hero5__text{
  text-align: center;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
gap: 20px;
margin-bottom: 50px;  
}
  .hero5__text p{
    width: 508px;
    height: 40px;
    color: rgba(148, 155, 182, 1);
    font-weight: 400;
    font-size: 20px;
  }

  .hero5__cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .hero5__cards img{
    width: 270px;
    height: 294px;
    border-radius: 35px;
  }

.cards5--card{
width: 270px;
height: 476px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}

.cards5--card span{
  color: rgba(101, 109, 137, 1);
  font-size: 12px;
  font-weight: 400;
}

.cards5--card p{
  color: rgba(39, 45, 65, 1);
  font-size: 22px;
  font-weight: 600;
}

.cards5--card button{
  padding: 6px 25px ;
  border-radius: 30px;
  border: 1px solid rgba(255, 173, 193, 1);
  background-color: white;
}

.cards5--card a{
  color: rgba(227, 18, 68, 1);

}

.cards5--card:hover{
transform: scale(1.07);
transition: 0.2s;
}
.cards5--card{
cursor: pointer;
}



.hero6{
  display: flex;
  flex-direction: column;
text-align: center;
margin-top: 100px;
gap: 70px;
}

.hero6__cards{
  display: flex;
justify-content: center;
gap: 40px;
}

.hero6__cards img{
  width: 400px;
  height: 375px;
border-radius: 16px;
}

.hero6__cards h2{
  font-size: 24px;
  font-weight: 600;
  color: rgba(39, 45, 65, 1);
  margin-top: 15px;
}


.hero6__cards--card:hover{
transform: scale(1.07);
transition: 0.2s;
cursor: pointer;
}

.hero6__text h3{
  color: rgba(248, 186, 18, 1);
  font-size: 18px;
     font-family: "Just Another Hand", cursive;

  font-weight: 400;
}

.hero6__text h1{
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: 500;
}

.hero6__text p{
  color: rgba(148, 155, 182, 1);
  font-size: 20px;
  font-weight: 400;
  width: 508px;
  height: 60px;
}

.hero6__text{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero7{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.hero7__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1300px;
  height: 600px;
  gap: 30px;
}

.hero7__text select{
  padding: 20px 30px;
  border-radius: 20px;
  color: rgba(39, 45, 65, 1);
}

.hero7__text h3{
  font-size: 18px;
  font-weight: 400;
  color: rgba(248, 186, 18, 1);
  font-family: 'Just Another Hand', cursive;
}

.hero7__text h1{
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: 500;
}

.hero7__text p{
  color: rgba(148, 155, 182, 1);
  font-size: 20px;
  font-weight: 400;
  width: 508px;
  height: 60px;
}

footer{
width: 100%;
height: 464px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(255, 236, 239);
margin-top: 100px;
}

.footer__text{
  display: flex;
gap: 140px;

}

.footer__subtitle ul{
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 168px;
  gap: 15px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(144, 151, 175, 1);
}

.footer__subtitle span{
  color: rgba(63, 71, 103, 1);
  font-size: 18px;
  font-weight: 400  ;
}

.footer__logo{
  display: flex;
  flex-direction: column;
align-items: center;
width: 360px;
height: 300px;
justify-content: space-between;
}

.footer__logo img{
  width: 170px;
}

.footer__logo input{
  padding: 13px 110px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.footer__logo button{
  padding: 11px 70px;
  border-radius: 30px;
  background-color  : rgba(63, 71, 103, 1);
  border: none;
  color: white;
}

.footer__logo p{
   color: rgba(144, 151, 175, 1);
}

@media (max-width:1200px) and (min-width:1025px){
.hero__text h2{
  font-size: 20px;
}

.hero{
  display: flex;
  align-items: center;

}

.hero__text h1{
  font-size: 35px;
}

.hero__text{
  align-items: center;
}
.hero__text h3{
  font-size: 15px;
}

.hero__text button{
  padding: 8px 20px;
}

.hero__text img{
  width: 100px;
}

.hero__img img{
  width: 300px;
}


  .hero__img-back{
    left: -400px;
  }

  .hero__img-up{
    left: -420px;
  }

  .hero2__cards img{
    width: 200px;

}


.hero2__cards{
  gap: 50px;
}

.cards--card p{
  font-size: 15px;
  width: 240px;
}


.hero3{
  margin-top: 200px;
}

.hero3__text{
  display: flex;
  align-items: center;

} 

.hero3__text p{
  font-size: 18px;

}

.hero__vd video{
  width: 900px;

}

.guy{
  width: 150px;
}

.top__img h3{
  font-size: 25px;
  width: 600px;
}

.cards5--card{
  width: 240px;
  height: 475px;

}

.hero5__cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 
  20px;
}

.cards5--card img{
  width: 240px;
}

.hero6__cards img{
  width: 300px;
}

.hero7__text select{
display: none;}

.footer__text{
  gap: 30px;
}
}

@media (max-width: 1024px) and (min-width:769px){
  .hero__img{
    display: none;
  }

  .hero__text{
    text-align: center  ;
  }

  .companies{
    width: 450px;
  }

  .hero2__cards img{
    width: 150px;
  }

  .hero2__cards{
display: flex;
flex-direction: column;
  }

  .cards--card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.hero3{
  margin-top: 700px;
}

.hero3__text p{
  font-size: 14px;
}


.hero__vd video{
  width: 600px;
}

.hero4__top{
  display: flex;
  flex-direction: column;

}

.top__img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text__bottom small{
  font-size: 10px;
}

.text__bottom{
  gap: 30px;
}

.hero5__cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero6__cards{
  display: flex;
  flex-direction: column;
}

.hero7__text select{
  display: none;

}

  .footer__text{
    gap: 0px;
  }

  .footer__subtitle ul{
    gap: 5px;
font-size: 12px;

  }

  .footer__logo{
    display: none;
  }
}

@media(max-width:768px) {
  .container{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
.hero__img{
  display: none;

}
header ul{
  font-size: 12px;
}

.icons{
  display: none;
}

.beef{
  display: none;

}

.chicken{
  display: none;
}

.hero__text{
  display: flex;
  flex-direction: column;
  align-items: center;
width: 100%;
padding: 20px;
text-align: center;
  gap: 50px;
}

.hero__text h2{
  font-size: 18px;
}

.hero__text h1{
  font-size: 30px;
  text-align: center;
  width: 300px;
}

.hero__text h3{
  font-size: 15px;
  width: 340px;
}

.hero__text img{
  display: none ;
}


.companies img{
  width: 350px;
}


.hero2__text h1{
font-size: 26px;
}

.hero2__text p{
  font-size: 16px;
  width: 300px;
}
.hero2__text{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}


.hero2__cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero3{
  margin-top: 1140px;
}

.hero3__text{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero3__text h1{
  font-size: 18px;
}

.hero3__text p{
  font-size: 15px;
  width: 320px;
  margin-top: 20px;
}

.hero__vd video{
  width: 350px;
margin-top: -160px;
}

.guy{
  width: 200px;
}

.top__img{
  display: flex;
  flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
}

.top__img h3{
  font-size: 16px;
  width: 350px;
}

.top__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero4__top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top__text img{
  display: none;
}

.top__text small{
  display: none;
}

.hero4__bottom{
  gap: 20px;
}

.hero5__text p{
  width: 350px;
}

.hero5__cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero6__text p{
  width: 350px;
}

.hero6__cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero6__cards img{
  width: 270px;

}

.hero7__text h1{
  font-size: 24px;
}

.hero7__text{
  margin-top: -180px;

margin-bottom: -100px;}

.hero7__text p{
  width: 350px;
}

.hero7__text select{
  display: none ;
}

.footer__text ul{
display: none;
}
}
